@use '../../styles/variables.scss' as *;
@use 'sass:color';

.compContainer {
    background-color: $background-dark !important;
    border: 3px solid $background;
    transition: opacity .2s;
    cursor: pointer;

    &:hover {
        opacity: .5
    }

    p {
        font-size: $font-size-base + .8;
    }
}

.icon {
    color: white;
    font-size: 2rem;
}