@use '../../styles/variables.scss' as *;

.compContainer {
    p {
        margin: 0px;
        padding: 0px;
        font-family: $font-calc;
        font-size: $font-size-base + 2.5;
        color: #fff;
        text-shadow: $font-glow-main
    }
}

.minus {
    text-shadow: $font-glow-red !important;
}

.add {
    text-shadow: $font-glow-green !important;
}

.operator {
    font-size: 2rem !important;
}