@import '../variables.scss';

.content-panel{
  
   .content-panel-container{
      width: 100%;
      background-color: lighten(black, 20%)!important;
      box-shadow: $shadow-1;
      border-radius: 5px 5px 5px 5px;
  
      .card-header{
        padding: 1rem!important;
        background-color: white!important;
        border-radius: 5px 5px 0px 0px;
        color: white!important;
        p{
          font-size: $font-size-base + .2rem;
        }
        a{
          text-decoration: none;
          color: inherit;
        }
        h5{
          color: black!important;
        }

      }
      .card-body{
        color: rgba(255,255,255,.7)!important;
        button{
          margin: 5px;
          color: inherit;
          background-color: lighten(black, 10%);
          border: lighten(black, 10%);
        }
        form{
          label{
            color: white!important
          }
        }
      }

   }

}