.score-container{
    border:1px solid $background-dark;
    height: 350px;
    
    .playername{
        p{
            font-size: $font-size-base + .5;
        }
    }
    .scorecard{
        p{
            font-size: $font-size-base + 8;
        }
    }
}
.glow{
    border: 2px solid #4d4dff;
    border-radius: 7px;
    outline: none;
    box-shadow: 0 0 40px #4d4dff;
}