@use "../../variables.scss" as *;

.compContainer {
  background-color: $background-dark !important;
  border: 3px solid $background;

  p {
    margin: 0px;
    //padding: 0px;
    font-family: $font-calc;
    font-size: $font-size-base + 5;
    color: #fff;
    text-shadow: $font-glow-main;
  }
}

.minus {
  text-shadow: $font-glow-red !important;
}

.add {
  text-shadow: $font-glow-green !important;
}

.operator {
  font-size: 2rem !important;
}
