@use '../../styles/variables' as *;

.header {
    background-color: $background-dark;
    height: $header-height;

    .navbarBrand {
        color: white;
        font-size: $font-size-base + .75rem;

        a {
            text-decoration: none;
        }

    }

    .navbarText {
        color: white;
        font-size: $font-size-base + .4rem;

        .settingsIcon {
            color: white !important;
        }
    }

    .fullScreenIcon {

        transition: transform .3s;

        &:hover {
            transform: scale(1.3);
        }
    }
}

.settingsMenu {
    background-color: $background-dark;
    color: white;

    :global(.btn-close) {
        background-color: white;
    }
}