//Cointoss utility styles
@use '../../styles/variables.scss' as *;

// .coinToss {
//     height: $scene-height;

//     i {
//         font-size: 7rem;
//         text-shadow: 0 0 5px #fff, 0 0 0px #fff, 0 0 10px #4d4dff, 0 0 20px #4d4dff, 0 0 30px #4d4dff, 0 0 25px #4d4dff, 0 0 55px #4d4dff;
//     }

// }

.coinTossBtns {
    color: white;
    border-color: $background-dark;
    background-color: $background-dark;
}

.translateCoin {
    animation-name: translateCoinAnimate;
    animation-duration: .35s;
    animation-timing-function: ease-in;
    animation-iteration-count: 2;
    animation-direction: alternate;
}

.rotateCoin {
    animation-name: rotateCoinAnimate;
    animation-duration: .35s;
    animation-timing-function: ease-in;
    animation-iteration-count: 2;
    animation-direction: alternate;
}

@keyframes translateCoinAnimate {
    0% {
        transform: translateY(0px);
    }

    100% {
        transform: translateY(-200px);
    }
}

@keyframes rotateCoinAnimate {
    0% {
        transform: rotateX(0deg);
    }

    100% {
        transform: rotateX(360deg);
    }
}