@use '../variables' as *;

.settings-menu-backdrop{
    //display: none;
    position: absolute;
    background-color: rgba(0,0,0,0);
    width: 100vw;
    height: 100vh;
    z-index: 100;
    will-change: background-color;
    transition: background-color .4s;
    pointer-events: none;
    .settings-menu{
        position: absolute;
        background-color: darken($background-dark, 3%);
        width: 400px;
        height: 100vh;
        will-change: transform;
        transition: transform .2s;
        transform: translate(-400px);
        .settings-menu-header{
           i{
               font-size: $font-size-base + .6rem
           }
        }
    }
}

.settings-menu-active{
    display: block;
    background-color: rgba(0,0,0, .5);
    pointer-events: auto;
    .settings-menu{
        transform: translate(0px);
    }
}
