.switchtoggle{
    input[type=checkbox]{
        height: 0;
        width: 0;
        visibility: hidden;
    }
    
    label {
        cursor: pointer;
        text-indent: -9999px;
        width: 50px;
        height: 25px;
        background: darken(grey, 10%);
        display: block;
        border-radius: 100px;
        position: relative;
        margin-bottom: 0rem;
    }
    
    label:after {
        content: '';
        position: absolute;
        top: 1.25px;
        left: 1.25px;
        width: 22.5px;
        height: 22.5px;
        background: white;
        border-radius: 90px;
        transition: 0.3s;
    }
    
    input:checked + label {
        background: #4d4dff;
    }
    
    input:checked + label:after {
        left: calc(100% - 1.25px);
        transform: translateX(-100%);
    }
    
    label:active:after {
        width: 32.5px;
    }
    i{
        font-size: $font-size-base + .5rem;
        
    }
    
}