
//Styles for App header

header{
    color:white;
    background-color: $background-dark;
    div{
        p{
            i{
                font-size: $font-size-base + .5;
            }
        }
        &:nth-child(1){
            p{
                font-size: $font-size-base + .3;
            }
        }
    }
}