@use "../../variables.scss" as *;

.header {
  background-color: $background-dark;
  height: $header-height;
  z-index: 2;

  .navbarBrand {
    color: white;
    font-size: $font-size-base + 0.75rem;

    a {
      text-decoration: none;
    }
  }

  .navbarText {
    color: white;
    font-size: $font-size-base + 0.4rem;

    .settingsIcon {
      color: white !important;
    }
  }

  .fullScreenIcon {
    transition: transform 0.3s;

    &:hover {
      transform: scale(1.3);
    }
  }
}

.settingsMenu {
  background-color: $background-dark;
  color: white;

  :global(.btn-close) {
    background-color: white;
  }
}
