footer{
    //position: fixed;
    //width: 100%;
    //bottom: 0;
    //border: 1px solid red !important;
    background-color: $background-dark;
    p{
        color: white;
        margin: 0px 0px 0px 0px;
        font-size: $font-size-base - .3;
        a{
            color:white;
            &:hover{
                color:white;
                
            }
        }
    }
}