
//Stlyes for App footer

footer{
    background-color: $background-dark;
    p{
        color: white;
        margin: 0px 0px 0px 0px;
        font-size: $font-size-base - .4;
        a{
            color:white;
            &:hover{
                color:white;
                
            }
        }
    }
}