@use '../../styles/variables' as *;

.player {
    transform: scale(.75);
    opacity: 0;
    transition: transform .3s, opacity .3s;

    .playerName {
        p {
            font-size: $font-size-base + 1;
            color: #fff;
            text-shadow: $font-glow-main;

            i {
                cursor: pointer;
                transition: opacity .3s;

                &:hover {
                    opacity: .5;
                }
            }

        }
    }

    .playerCard {
        p {
            font-size: $font-size-base + 10;
            font-family: $font-calc;
            color: #fff;
            text-shadow: $font-glow-main;
        }
    }

    .playerCardSmall {
        p {
            font-family: $font-calc;
            color: #fff;
            text-shadow: $font-glow-main;
            font-size: $font-size-base + 2;
        }
    }
}

.fadeIn {
    transform: scale(1);
    opacity: 1;
}