//Duel Calculator Styles
@use '../../styles/variables.scss' as *;

.compContainer {
    //opacity: 0;
    //transform: scale(.9);
}

.calcNumbers {
    div {
        background-color: $background-dark;
        border: 3px solid $background;
        transition: background-color .2s;
        cursor: pointer;

        &:hover {
            background-color: lighten($background-dark, 3%);
        }

        p {
            margin: 0px;
            padding: 10px;
            font-size: $font-size-base + .8;
        }
    }
}

.calcClose {
    p {
        margin: 0px;
        padding: 10px;
        //font-size: $font-size-base + 2;
        font-size: 2.85rem;
    }
}

// .calcScore {
//     p {
//         margin: 0px;
//         padding: 0px;
//         font-family: $font-calc;
//         font-size: $font-size-base + 4;
//         color: #fff;
//         text-shadow: $font-glow-main
//     }
// }