//Styles for Settings component

#SettingsContainer{
    position: fixed;
    //border: 1px solid red;
    width: 30vw;
    height: 100vh;
    z-index: 100;
    margin-left: -15px;
    background-color: rgba(30,30,30,.95);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);//not supported yet
    transform: translateX(-30vw);
    transition: transform .5s;
    .closeIcon{
        padding: 0px;
        margin:0px;
        font-size: $font-size-base + .5;
    }
}

.settingsOpen{
    transform: translateX(0vw);
}