@font-face{
    font-family: 'Digital-7';
    src: url('../../assets/fonts/digital-7/digital-7.ttf') format('truetype');
}

@font-face{
    font-family: 'SpaceText-Bold';
    src: url('../../assets/fonts/spacetext/spacetext-bold-webfont.ttf') format('truetype');
}