//glow effect
.glow{
    border: 2px solid #4d4dff;
    border-radius: 7px;
    outline: none;
    box-shadow: 0 0 40px #4d4dff;
}

//imports
@import './components/ui/toggleswitch/_toggleswitch.scss';